body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.head{
    text-align: center;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background-color:white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;


    
}

.image-container {
    margin-top: 100px;
    flex: 40%;
    max-width: 40%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form-container {
    flex: 60%;
    padding: 20px;
    overflow: auto;
    max-height: 90vh; 
    overflow-y: auto;
    background-image: url("https://img.freepik.com/free-vector/decorative-indian-flag-theme-republic-day-texture-design-background_1055-16781.jpg?w=900&t=st=1701235915~exp=1701236515~hmac=1a197711e91671b65c0c7d6bdc3a2f6b737450a87d65f4c3c67d27dd4d380bcc");
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;

}

.form-container input[type="file"] {
    height: 40px; /* You can adjust the height as needed */
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* Add this CSS to your existing styles.css file or create a new one */

.file-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-button {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.file-label {
    margin-bottom: 10px;
    display: block;
}
